<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  
  <bean id="add1" class="klu.Spring_DI.Address">
  <constructor-arg value="klu road"></constructor-arg>
    <constructor-arg value="bza" type="String"></constructor-arg>
  
  </bean>
  
 <bean id="emp1" class="klu.Spring_DI.Employee">
 <property name="id" value="31387"></property>
  <property name="name" value="srikar"></property>
 <property name="addr" ref="add1" ></property>

 
 
 </bean>
 
</beans>